
<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h1>Universites:</h1>
            </div>
            <div class="col-sm-6">
              <div class="float-right mr-4">

                <a class="btn btn-sm btn-danger btn-simple" [routerLink]="['/university/add']">Add a new university</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="" [className]="universities.length>12?'table-responsive':''">

            <table class="table table-striped">

              <thead class="text-primary">
                <tr>
                  <th>Name</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let uni of universities; let i= index " class="hoverTd">
                  <td>
                    <span [hidden]="!isEdit[i]" class="col-md-6 pr-md-1">
                      <input
                        class="form-control"
                        placeholder="Name"
                        type="text"

                        name="nom"
                        [(ngModel)]="uni.nom"

                        autofocus
                        required
                        [minlength]="3"
                      /> <button >Save</button></span>
                    <span [hidden]="isEdit[i+1]" (dblclick)="setEdit(i)">{{uni.nom}}</span>

                  </td>
                  <td class="actionCol"><i class="tim-icons icon-trash-simple text-danger-states"></i></td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
